<% item_count ||= current_order&.item_count %>

<%= turbo_frame_tag "cart-icon-#{item_count}", target: '_top' do %>
  <%= link_to spree.cart_path,
    class: 'relative block w-6',
    id: "cart-pane-link",
    data: { action: 'click->slideover#toggle click@window->slideover#hide' },
    onclick: 'event.preventDefault()' do %>

    <%= render 'spree/shared/icons/cart' %>

    <% if item_count&.positive? %>
      <span
        class="cart-counter w-4 h-4 bg-black text-white rounded-full text-[8px] font-extrabold absolute top-[10px] right-0 flex items-center justify-center"
        id="cart-icon-count"
      >
        <%= item_count %>
      </span>
    <% end %>

    <span class="sr-only">
      <%= Spree.t('storefront.cart.items_in_cart') %>,
      <%= Spree.t('storefront.cart.view_bag') %>
    </span>
  <% end %>
<% end %>
