<% desktop ||= false %>

<% cache [*spree_storefront_base_cache_scope.call(product), images, desktop].compact do %>
  <% if desktop == true %>
    <div
      class="media-gallery w-full h-full media-gallery-desktop"
      id="media-gallery-<%= product.id %>-desktop"
      data-controller="lightbox pdp-desktop-gallery">

      <div class="2">

        <!-- MAIN IMAGE SLIDER -->
        <div class="relative w-full overflow-hidden swiper" data-pdp-desktop-gallery-target="imagesSlider">
          <div class="swiper-wrapper">
            <% images.each do |image| %>
              <div class="swiper-slide">
                <div class="relative w-full aspect-1" id="main-desktop-product-image-<%= image.id %>" data-turbo-permanent>
                  <%= link_to spree_image_url(image, variant: :xlarge), data: { pswp_width: "2000", pswp_height: "2000" } do %>
                    <div class="zoom-icon hidden absolute bottom-2 right-2 p-4 bg-background rounded-full opacity-75 hover:opacity-100">
                      <%= render 'spree/shared/icons/zoom' %>
                    </div>
                    <%= spree_image_tag(image, variant: :xlarge, alt: image_alt(image), class: 'w-full h-full object-cover') %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- MAIN IMAGE ARROWS -->
          <button class="absolute left-2 top-1/2 -translate-y-1/2 z-10 p-2 bg-background rounded-full shadow"
                  data-pdp-desktop-gallery-target="prevArrow" type="button" aria-label="Previous image">
            <span class="rotate-90">
              <%= render "spree/shared/icons/chevron_left" %>
            </span>
          </button>

          <button class="absolute right-2 top-1/2 -translate-y-1/2 z-10 p-2 bg-background rounded-full shadow"
                  data-pdp-desktop-gallery-target="nextArrow" type="button" aria-label="Next image">
            <span class="-rotate-90">
              <%= render "spree/shared/icons/chevron_right" %>
            </span>
          </button>

          <div data-pdp-desktop-gallery-target="imagesSliderPagination" class="swiper-pagination"></div>
        </div>

        <!-- HORIZONTAL THUMBNAILS BELOW MAIN -->
        <!-- NOTE: explicit height (h-20) and wrapper centers thumbnails to avoid expansion -->
        <div class="flex flex-row overflow-hidden w-full">
          <div
            class="swiper !w-full h-25"
            data-pdp-desktop-gallery-target="imagesThumbsSlider"
            aria-hidden="false">
            <div class="swiper-wrapper flex items-center gap-2 px-2 pt-2 pb-2">
              <% images.each do |image| %>
                <div class="swiper-slide !w-20 !h-20 flex-shrink-0 cursor-pointer" role="group" aria-label="Thumbnail">
                  <div class="w-full h-full border rounded overflow-hidden" id="thumb-desktop-product-image-<%= image.id %>" data-turbo-permanent>
                    <%= spree_image_tag(image, variant: :small, class: 'w-full h-full object-cover', alt: image_alt(image)) %>
                  </div>
                </div>
              <% end %>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
          </div>
        </div>

      </div>
    </div>

  <% else %>
    <!-- media gallery for mobile -->
    <% if images.any? %>
      <div
        id="media-gallery-<%= product.id %>-mobile"
        data-controller="lightbox carousel"
        class="media-gallery swiper-container relative overflow-hidden"
        data-carousel-options-value='{
          "slidesPerView": 1,
          "centeredSlides": true,
          "spaceBetween": 10,
          "grabCursor": true
        }'>
        <div class="swiper-wrapper">
          <% images.each do |image| %>
            <div class="swiper-slide aspect-1" id="swiper-slide-<%= image.id %>">
              <%= link_to spree_image_url(image, variant: :xlarge), class: "absolute top-2 right-2 p-2 bg-background rounded-full opacity-75 hover:opacity-100", data: { pswp_width: "2000", pswp_height: "2000" } do %>
                <%= render 'spree/shared/icons/zoom' %>
              <% end %>

              <%= render 'spree/products/label', product: product, mobile_pdp: true %>

              <%= spree_image_tag(image, variant: :large, alt: image_alt(image), class: 'h-full w-full object-cover object-center', style: 'min-height: 358px; border-radius: 0.5rem;') %>
            </div>
          <% end %>
        </div>

        <% if images.length > 1 %>
          <div class="swiper-pagination-product-<%= product.id %> mt-3 items-center flex mx-auto align-center justify-center" data-carousel-target="pagination"></div>
        <% end %>
      </div>

      <div id="pinch-to-zoom" class="fixed top-0 left-0 p-4 bg-background z-50 flex justify-center items-center flex-col">
        <div class="w-14 h-14"><%= render 'spree/shared/icons/pinch' %></div>
        <div class="text-sm uppercase pt-4 px-5 text-center !leading-tight">
          <%= Spree.t("storefront.products.pinch_to_zoom_html") %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
