<% options_param_name ||= :options %>

<% if product.has_variants? %>
  <div id="product-variant-picker" class="flex flex-col mb-4 mt-2" style="gap: 10px;">

    <% product.option_types.each_with_index do |option_type, index| %>
      <% selected_option = product_selected_option_for_option(
            option_type,
            product: product,
            selected_variant: selected_variant,
            options_param_name: options_param_name
          ) %>

      <% if option_type.color? %>
        <%= option_type_colors_preview_styles(option_type).html_safe %>
        <fieldset data-option-id="<%= option_type.id %>" class="flex flex-col gap-y-2">
          <span class="text-sm leading-4 tracking-normal">
            <%= option_type.presentation %>: <strong class="uppercase font-semibold"><%= selected_option.presentation %></strong>
          </span>
          <ul class="flex items-center flex-wrap gap-1">
            <%= render 'spree/products/variant_options',
                  product: product,
                  option_type: option_type,
                  position: index,
                  selected_variant: selected_variant,
                  options_param_name: options_param_name %>
          </ul>
        </fieldset>

      <% else %>
        <fieldset data-option-id="<%= option_type.id %>" class="flex flex-col gap-y-2">
          <span class="text-sm font-medium tracking-normal">
            <%= option_type.presentation %>
          </span>

          <ul class="flex items-center flex-wrap gap-2">
            <% product_option_values_for_option(option_type, product: product).each_with_index do |value, i| %>
              <% input_id = "product-option-#{product.id}-#{index}-#{i}" %>
              <% is_selected = selected_option == value %>

              <%= radio_button_tag(
                    option_type.presentation,
                    value.name,
                    is_selected,
                    class: "sr-only peer",
                    id: input_id,
                    name: "#{options_param_name}[#{option_type.id}]",
                    data: {
                      action: 'change->product-form#updateVariant',
                      product_form_target: 'option',
                      option_id: option_type.id
                    }
                  ) %>
              <label
                for="<%= input_id %>"
                class="<%= class_names(
                        'btn inline-block text-sm px-4 py-2 rounded-md border transition whitespace-nowrap hover:bg-accent hover:text-black hover:border-accent',
                        is_selected ? 'bg-black text-white border-black' : 'bg-white text-gray-800 border-gray-300'
                      ) %>">
                <%= value.presentation %>
              </label>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
    <% end %>

  </div>
<% end %>
